@* Dylan Stocking  *@
@* https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/modify *@

@page "/"

<h1>Blazor Project</h1>

My name is Dylan Stocking, I'm an information systems major with a concentration in programming at FGCU.


<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10" />
