@* Dylan Stocking *@
@* https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/run *@

@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="Dylan Stocking" />

<Counter IncrementAmount="10" />
